<template>
  <router-link
    class="event-link"
    :to="{ name: 'event-show', params: { id: event.id } }"
  >
    <div class="event-card -shadow">
      <span class="eyebrow">@{{ event.date }} on {{ event.time }}</span>
      <p></p>
      <h4 class="title">{{ event.title }}</h4>
      <div v-for="attendee in event.attendees" :key="attendee.id">
        <BaseIcon name="users">{{ attendee.name }}</BaseIcon>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  /*
  data() {
    return {
      event: {
        id: 1,
        title: 'Beach party with:',
        date: 'Monday 15 July, 2018',
        time: '07:00',
        attendees: [
          { id: '12c54', name: 'John Carmack' },
          { id: '12c55', name: 'Bobby Lapointe' },
          { id: '12c56', name: 'Rhon Steward' }
        ]
      }
    }
  }
  */
  props: {
    event: Object
  }
}
</script>

<style scoped>
.event-card {
  padding: 20px;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.event-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.event-card > .title {
  margin: 0;
}

.event-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
</style>
